[push]
	default = simple
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[credential]
	helper = /usr/bin/gp credential-helper
[user]
	name = Anurag
	email = kr.anurag24@gmail.com
	signingkey = 360E1363FACCE690
[commit]
	gpgsign = true
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	un = uncommitted
	up = update
	lo = log --oneline --decorate
	# aliases to push
	ps = push
	pu = push --set-upstream
	pb = push --set-upstream origin $(current_branch)
	po = push origin
	pd = push --delete
	# aliases to pull
	pl = pull
	pr = pull --rebase
	# aliases to fetch
	fa = fetch --all
	fo = fetch origin
	fd = fetch origin $(current_branch)
	ga = add -A .